/* Card container */
.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  margin: .5rem;
}

/* Cards */
.gallery-card {
  
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--blue);
  margin: 0;
}

.gallery-card:hover{
  background-color: var(--orange);
}

/* Card images */
img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}

@media (width > 60rem) {
  .gallery-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 80rem) {
  .gallery-container{
    grid-template-columns: repeat(3, 1fr);
  }
}