:root {
  --orange: #CC4E39;
  --cyan: #177380;
  --blue: #041432;
}

/* Nav */
nav {
  background-color:var(--cyan);
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

nav p {
  text-align: center;
  margin-top: 3rem;
  padding-left: .5rem;
}

nav ul {
  padding: 0;
  margin: 0;
  
  list-style: none;
  text-align: center;
}

nav li {
  flex: auto;
}

nav a {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  color: white;
}
div p {
  color: white;
}

nav a:hover {
  background-color: var(--blue);
  color: white;
}

@media (width > 40rem){
  nav ul {
    display:flex;
  }
}

/* Footer */
footer {
  background-color: var(--cyan);
  color: white;
}

footer p {
  text-align: center;
  margin: 0%;
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

footer ul {
  text-align: center;
  padding: 0%;
  margin: 0;
}

footer a {
  color: white;
}

footer a:hover {
  font-weight: bold;
}

/* Active page */
.active {
  background-color:var(--blue);
}

/* H1 on page */
.titles {
  padding: 1rem;
  text-align: center;
}