/* Desktop */
@media (width > 40rem){
  /* Hero Text */
  header {
    padding-top: 20rem;
    padding-left: 5rem;
  }
}

/* Hero */
header {
  height: 80vh;

  background-color: brown;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

}

header h1, header p {
  max-width: 40ch;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* Call To Action */
header a {
  text-decoration: none;
  border-radius: 1rem;
  /* CTA container */
  width: fit-content;
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  color: rgb(183, 27, 9);
  
}
